<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Thiết_kế_màn_hình_đăng_nhập.Properties.Settings.qlsvc_ConnectionString"
            connectionString="Data Source=CN097;Initial Catalog=qlsvc#;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>